---
import type { CollectionEntry } from "astro:content";
import Pagination from "@/components/Paginator.astro";
import Note from "@/components/note/Note.astro";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";
import type { GetStaticPaths, Page } from "astro";
import { Icon } from "astro-icon/components";
import { filterNotesByLang, getAllNotes } from "@/data/note";

export const getStaticPaths = (async ({ paginate }) => {
	const allNotes = await getAllNotes();
	const localizedNotes = filterNotesByLang(allNotes, "uk");
	return paginate(localizedNotes.sort(collectionDateSort), {
		pageSize: 10,
		props: { hasLocalizedNotes: localizedNotes.length > 0 },
	});
}) satisfies GetStaticPaths;

interface Props {
	page: Page<CollectionEntry<"note">>;
	hasLocalizedNotes: boolean;
}

const { page, hasLocalizedNotes } = Astro.props as Props;

if (!hasLocalizedNotes) {
	Astro.redirect("/notes/");
}

const meta = {
	description: "Добірка нотаток українською",
	title: "Нотатки",
};
---

<PageLayout meta={meta}>
	<section>
		<h1 class="title mb-12 flex items-center gap-3">
			Нотатки{" "}
			<a class="text-accent" href="/uk/notes/rss.xml" target="_blank">
				<span class="sr-only">RSS feed</span>
				<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name="mdi:rss" />
			</a>
		</h1>
		<ul class="mt-6 space-y-8 text-start">
			{
				page.data.map((note) => (
					<li>
						<Note note={note} as="h2" isPreview />
					</li>
				))
			}
		</ul>
		<Pagination
			prevUrl={
				page.url.prev
					? { text: "← Попередні нотатки", url: page.url.prev }
					: undefined
			}
			nextUrl={
				page.url.next
					? { text: "Наступні нотатки →", url: page.url.next }
					: undefined
			}
		/>
	</section>
</PageLayout>
